html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Inter;
    font-size: 20px;
    margin: 0;
    padding: 0;
    cursor: none;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

swiper-slide img {
    display: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slide-1 {
    background-image: url('./assets/bg-slide-1.jpg');
    display: inline;
}

#slide-1 h1 {
    color: #fff;
    font-size: 64px;
    padding-top: 64px;
    font-weight: 800;
}

#slide-1 h5 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    color: #fff;
    font-size: 32px;
    padding-bottom: 64px;
    padding-right: 64px;
    font-weight: 400;
}