html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #ddd;
    font-family: Inter;
    margin: 0;
    padding: 0;
    cursor: none;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.swiper-cube .swiper-cube-shadow:before {
    background: none!important;
}

#slide-0 {
    background-image: url('./assets/bg-slide-0.jpg');
    display: inline;
}

#slide-0 h1 {
    color: #fff;
    font-size: 64px;
    padding-top: 64px;
    font-weight: 800;
}

#slide-0 h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    color: #fff;
    font-size: 32px;
    padding-bottom: 64px;
    padding-right: 64px;
    font-weight: 400;
}

#slide-1 #slide-1_1 {
    background: rgb(255, 204, 127);
    background: linear-gradient(135deg, rgba(255, 204, 127, 1) 45%, rgba(255, 255, 255, 1) 55%);
}

#slide-1 #slide-1_2 {
    background: rgb(255, 204, 127);
    background: linear-gradient(315deg, rgba(255, 204, 127, 1) 45%, rgba(255, 255, 255, 1) 55%);
}

#slide-1 h1 {
    color: #000;
    font-size: 48px;
    padding-top: 48px;
    font-weight: 600;
}

#slide-1 img {
    width: 25vw;
    height: 25vw;
}

#slide-2 h1 {
    color: #000;
    font-size: 64px;
    padding-top: 64px;
    font-weight: 600;
}

#slide-3 {
    flex-direction: column;
}

#slide-3 h1 {
    color: #000;
    font-size: 64px;
    padding-top: 64px;
    font-weight: 800;
}

#slide-3 img {
    width: 70%;
}

#slide-3_1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

#slide-3_1 img {
    width: 40%;
}

#slide-4 {
    flex-direction: column;
}

#slide-4 h1 {
    color: #000;
    font-size: 64px;
    padding-top: 64px;
    font-weight: 800;
}

#slide-4 h2 {
    color: #000;
    font-size: 256px;
    font-weight: 100;
}

#slide-4_1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

#slide-4_1 img {
    width: 40%;
}